
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
coverage/
###< symfony/phpunit-bridge ###

###> docker ###
docker-compose.override.yml
###< docker ###

###> IDE ###
.vscode
*.code-workspace
.idea
###< IDE ###

###> Misc ###
.DS_Store
###< Misc ###